version: '0.2.0'
temperaments:
- name: '1/4-comma meantone'
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 4
    pure:
      octave: 2
      third: 1
  - tempered:
      third: 1
    pure:
      third: 1
- name: '1/6-comma meantone'
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 6
    pure:
      octave: 2
      fifth: 2
      third: 1
  - tempered:
      third: 6
    pure:
      octave: -4
      fifth: 8
      third: 4
- name: '1/3-comma meantone'
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 3
    pure:
      octave: 2
      fifth: -1
      third: 1
  - tempered:
      third: 3
    pure:
      octave: 2
      fifth: -4
      third: 4
- name: '1/5-comma meantone'
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 5
    pure:
      octave: 2
      fifth: 1
      third: 1
  - tempered:
      third: 5
    pure:
      octave: -2
      fifth: 4
      third: 4
- name: equal temperament
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 12
    pure:
      octave: 7
  - tempered:
      third: 3
    pure:
      octave: 1
named-intervals:
- name: syntonic comma
  short-name: s
  coeffs:
    octave: '-2'
    fifth: '4'
    third: '-1'
- name: diesis
  short-name: d
  coeffs:
    octave: '1'
    third: '-3'
- name: pythagorean comma
  short-name: p
  coeffs:
    octave: '-7'
    fifth: '12'
- name: kleisma
  short-name: k
  coeffs:
    octave: '1'
    fifth: '-5'
    third: '6'
strategies:
- name: cembalo cromatico
  description: |-
    A "better cembalo cromatico" that allows you to play with reference notes in 1/4-comma meantone, but just harmonic intervals.
    • It knows the "correct" (just) tunings of most relevant chords for the period.
    • Sostenuto pedal toggles between two meantone scales for the reference notes: one with the chromatic notes, one with the enharmonic notes.
    • Soft pedal resets the reference of the scales to the reference of the currently sounding chord.
  config: !two-step
    harmony: !chord-list
      enable: true
      patterns:
      - name: major
        key-shape: !classes-relative
          classes:
          - 0
          - 4
          - 7
        neighbourhood: !periodic-partial
          0: {}
          4:
            third: 1
          7:
            fifth: 1
        allow-extra-high-notes: true
        original-reference: {}
      - name: minor
        key-shape: !classes-relative
          classes:
          - 0
          - 3
          - 7
        neighbourhood: !periodic-partial
          0: {}
          3:
            fifth: 1
            third: -1
          7:
            fifth: 1
        allow-extra-high-notes: true
        original-reference: {}
      - name: dominant seventh
        key-shape: !classes-relative
          classes:
          - 0
          - 4
          - 7
          - 10
        neighbourhood: !periodic-partial
          0: {}
          4:
            third: 1
          7:
            fifth: 1
          10:
            octave: 2
            fifth: -2
        allow-extra-high-notes: true
        original-reference: {}
      - name: major add6
        key-shape: !block-voicing-relative
          blocks:
          - - 0
          - - 4
            - 7
            - 9
        neighbourhood: !periodic-partial
          0: {}
          4:
            third: 1
          7:
            fifth: 1
          9:
            octave: 1
            fifth: -1
            third: 1
        allow-extra-high-notes: true
        original-reference: {}
      - name: minor seventh
        key-shape: !block-voicing-relative
          blocks:
          - - 0
          - - 3
            - 7
            - 10
        neighbourhood: !periodic-partial
          0: {}
          3:
            fifth: 1
            third: -1
          7:
            fifth: 1
          10:
            fifth: 2
            third: -1
        allow-extra-high-notes: true
        original-reference: {}
      - name: sus4
        key-shape: !block-voicing-relative
          blocks:
          - - 0
          - - 5
            - 7
        neighbourhood: !periodic-partial
          0: {}
          5:
            octave: 1
            fifth: -1
          7:
            fifth: 1
        allow-extra-high-notes: true
        original-reference:
          octave: -1
          fifth: 2
      - name: sus2
        key-shape: !block-voicing-relative
          blocks:
          - - 0
          - - 2
            - 7
        neighbourhood: !periodic-partial
          0: {}
          2:
            octave: -1
            fifth: 2
          7:
            fifth: 1
        allow-extra-high-notes: true
        original-reference: {}
      - name: sus2,4
        key-shape: !block-voicing-relative
          blocks:
          - - 0
          - - 2
            - 5
            - 7
        neighbourhood: !periodic-partial
          0: {}
          2:
            octave: -1
            fifth: 2
          5:
            octave: 1
            fifth: -1
          7:
            fifth: 1
        allow-extra-high-notes: true
        original-reference:
          octave: -1
          fifth: 1
    melody: !neighbourhoods
      fixed: true
      group-ms: 100
      neighbourhoods:
      - name: chromatic
        entries: !periodic-complete
          0: {}
          1:
            target:
              fifth: -1
              third: 2
            actual:
              octave: '-1/2'
              third: '7/4'
          2:
            target:
              octave: -1
              fifth: 2
            actual:
              third: '1/2'
          3:
            target:
              fifth: 1
              third: -1
            actual:
              octave: '1/2'
              third: '-3/4'
          4:
            third: 1
          5:
            target:
              octave: 1
              fifth: -1
            actual:
              octave: '1/2'
              third: '-1/4'
          6:
            target:
              octave: -1
              fifth: 2
              third: 1
            actual:
              third: '3/2'
          7:
            target:
              fifth: 1
            actual:
              octave: '1/2'
              third: '1/4'
          8:
            third: 2
          9:
            target:
              octave: 1
              fifth: -1
              third: 1
            actual:
              octave: '1/2'
              third: '3/4'
          10:
            target:
              fifth: 2
              third: -1
            actual:
              octave: '1'
              third: '-1/2'
          11:
            target:
              fifth: 1
              third: 1
            actual:
              octave: '1/2'
              third: '5/4'
      - name: enharmonic
        entries: !periodic-complete
          0: {}
          1:
            target:
              octave: 1
              fifth: -1
              third: -1
            actual:
              octave: '1/2'
              third: '-5/4'
          2:
            target:
              octave: -1
              fifth: 2
            actual:
              third: '1/2'
          3:
            target:
              octave: -1
              fifth: 1
              third: 2
            actual:
              octave: '-1/2'
              third: '9/4'
          4:
            third: 1
          5:
            target:
              octave: 1
              fifth: -1
            actual:
              octave: '1/2'
              third: '-1/4'
          6:
            target:
              octave: 2
              fifth: -2
              third: -1
            actual:
              octave: '1'
              third: '-3/2'
          7:
            target:
              fifth: 1
            actual:
              octave: '1/2'
              third: '1/4'
          8:
            octave: 1
            third: -1
          9:
            target:
              octave: 1
              fifth: -1
              third: 1
            actual:
              octave: '1/2'
              third: '3/4'
          10:
            target:
              octave: -1
              fifth: 2
              third: 2
            actual:
              third: '5/2'
          11:
            target:
              fifth: 1
              third: 1
            actual:
              octave: '1/2'
              third: '5/4'
      tuning-reference:
        stack:
          target:
            octave: 1
            fifth: -1
            third: 1
          actual:
            octave: '1/2'
            third: '3/4'
        semitones: 69.0
      reference: {}
    bindings:
      sostenuto-pedal-down: !increment-neighbourhood-index 1
      sostenuto-pedal-up: !increment-neighbourhood-index -1
      soft-pedal-down: set-reference-to-current
      Escape: reset
      Backspace: toggle-chord-matching
      Enter: !increment-neighbourhood-index 1
      Space: set-reference-to-current
backend: !pitchbend12
  bend-range: 2.0
  channels:
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
  - 7
  - 8
  - 9
  - 11
  - 12
  - 13
gui:
  lattice-window:
    zoom: 12.0
    interval-heights:
    - 0.0
    - 3.8631372
    - -7.01955
    background-around-reference: true
    background-low:
    - 0
    - -2
    - -2
    background-high:
    - 0
    - 3
    - 3
    project-dimension: 0
    screen-keyboard-channel: 1
    screen-keyboard-velocity: 64
    notenamestyle: class
    highlight-playable-keys: true
    color-period-ct: 21.506289596715078
  tuning-editor:
    notenamestyle: full
  reference-editor:
    notenamestyle: full
  latency-mean-over: 20
  use-cent-values: false
