temperaments:
- name: equal temperament
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 12
    pure:
      octave: 7
  - tempered:
      third: 3
    pure:
      octave: 1
- name: '1/4-comma meantone'
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 4
    pure:
      octave: 2
      third: 1
  - tempered:
      third: 1
    pure:
      third: 1
- name: '1/6-comma meantone'
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 6
    pure:
      octave: 2
      fifth: 2
      third: 1
  - tempered:
      third: 6
    pure:
      octave: -4
      fifth: 8
      third: 4
- name: '1/3-comma meantone'
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 3
    pure:
      octave: 2
      fifth: -1
      third: 1
  - tempered:
      third: 3
    pure:
      octave: 2
      fifth: -4
      third: 4
named-intervals:
- name: syntonic comma
  short-name: 's'
  coeffs:
    octave: '-2'
    fifth: '4'
    third: '-1'
- name: diesis
  short-name: 'd'
  coeffs:
    octave: '1'
    third: '-3'
- name: pythagorean comma
  short-name: 'p'
  coeffs:
    octave: '-7'
    fifth: '12'
- name: kleisma
  short-name: 'k'
  coeffs:
    octave: '1'
    fifth: '-5'
    third: '6'
strategies:
- name: static
  description: |-
    This strategy allows you to
    • define the (static) tuning of all 12 notes as a "neighbourhood" of the reference note,
    • switch between different neighbourhoods on the fly, and
    • reset the reference note on the fly.
  config: !static-tuning
    neighbourhoods:
    - name: flats
      entries: !periodic-complete
        0: {}
        1:
          octave: 1
          fifth: -1
          third: -1
        2:
          octave: -1
          fifth: 2
        3:
          fifth: 1
          third: -1
        4:
          third: 1
        5:
          octave: 1
          fifth: -1
        6:
          octave: 2
          fifth: -2
          third: -1
        7:
          fifth: 1
        8:
          octave: 1
          third: -1
        9:
          octave: 1
          fifth: -1
          third: 1
        10:
          octave: 2
          fifth: -2
        11:
          fifth: 1
          third: 1
    - name: sharps
      entries: !periodic-complete
        0: {}
        1:
          fifth: -1
          third: 2
        2:
          octave: -1
          fifth: 2
        3:
          octave: -1
          fifth: 1
          third: 2
        4:
          third: 1
        5:
          octave: 1
          fifth: -1
        6:
          octave: -1
          fifth: 2
          third: 1
        7:
          fifth: 1
        8:
          third: 2
        9:
          octave: 1
          fifth: -1
          third: 1
        10:
          octave: -1
          fifth: 2
          third: 2
        11:
          fifth: 1
          third: 1
    tuning-reference:
      stack:
        octave: 1
        fifth: -1
        third: 1
      semitones: 69.0
    reference: {}
    bindings:
      sostenuto-pedal-down: !increment-neighbourhood-index 1
      sostenuto-pedal-up: !increment-neighbourhood-index -1
      soft-pedal-down: set-reference-to-lowest
      Enter: !increment-neighbourhood-index 1
      Space: set-reference-to-lowest
backend: !pitchbend12
  bend-range: 2.0
  channels:
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
  - 7
  - 8
  - 9
  - 11
  - 12
  - 13
gui:
  lattice-window:
    zoom: 12.0
    interval-heights:
    - 0.0
    - 3.8631372
    - -7.01955
    background-stack-distances:
    - 0
    - 3
    - 2
    project-dimension: 0
    screen-keyboard-channel: 1
    screen-keyboard-velocity: 64
    notenamestyle: class
    highlight-playable-keys: true
    in-tune-note-color:
      h: 0.3
      s: 1.0
      v: 0.6
    out-of-tune-note-color:
      h: 0.8
      s: 1.0
      v: 0.6
    color-period: 21.506289596715078
  tuning-editor:
    notenamestyle: full
  reference-editor:
    notenamestyle: full
  latency-mean-over: 20
  use-cent-values: false
