version: 0.1.0
temperaments:
- name: equal temperament
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 12
    pure:
      octave: 7
  - tempered:
      third: 3
    pure:
      octave: 1
- name: '1/4-comma meantone'
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 4
    pure:
      octave: 2
      third: 1
  - tempered:
      third: 1
    pure:
      third: 1
- name: '1/6-comma meantone'
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 6
    pure:
      octave: 2
      fifth: 2
      third: 1
  - tempered:
      third: 6
    pure:
      octave: -4
      fifth: 8
      third: 4
- name: '1/3-comma meantone'
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 3
    pure:
      octave: 2
      fifth: -1
      third: 1
  - tempered:
      third: 3
    pure:
      octave: 2
      fifth: -4
      third: 4
- name: '1/5-comma meantone'
  equations:
  - tempered:
      octave: 1
    pure:
      octave: 1
  - tempered:
      fifth: 5
    pure:
      octave: 2
      fifth: 1
      third: 1
  - tempered:
      third: 5
    pure:
      octave: -2
      fifth: 4
      third: 4
named-intervals:
- name: diesis
  short-name: 'd'
  coeffs:
    octave: '1'
    third: '-3'
- name: pythagorean comma
  short-name: 'p'
  coeffs:
    octave: '-7'
    fifth: '12'
- name: syntonic comma
  short-name: 's'
  coeffs:
    octave: '-2'
    fifth: '4'
    third: '-1'
- name: kleisma
  short-name: 'k'
  coeffs:
    octave: '1'
    fifth: '-5'
    third: '6'
strategies:
- name: static
  description: |-
    This strategy allows you to
    • define the (static) tuning of all 12 notes as a "neighbourhood" of the reference note,
    • switch between different neighbourhoods on the fly, and
    • reset the reference note on the fly.
  config: !static-tuning
    neighbourhoods:
    - name: flats
      entries: !periodic-complete
        0: {}
        1:
          octave: 1
          fifth: -1
          third: -1
        2:
          octave: -1
          fifth: 2
        3:
          fifth: 1
          third: -1
        4:
          third: 1
        5:
          octave: 1
          fifth: -1
        6:
          octave: 2
          fifth: -2
          third: -1
        7:
          fifth: 1
        8:
          octave: 1
          third: -1
        9:
          octave: 1
          fifth: -1
          third: 1
        10:
          octave: 2
          fifth: -2
        11:
          fifth: 1
          third: 1
    - name: sharps
      entries: !periodic-complete
        0: {}
        1:
          fifth: -1
          third: 2
        2:
          octave: -1
          fifth: 2
        3:
          octave: -1
          fifth: 1
          third: 2
        4:
          third: 1
        5:
          octave: 1
          fifth: -1
        6:
          octave: -1
          fifth: 2
          third: 1
        7:
          fifth: 1
        8:
          third: 2
        9:
          octave: 1
          fifth: -1
          third: 1
        10:
          octave: -1
          fifth: 2
          third: 2
        11:
          fifth: 1
          third: 1
    tuning-reference:
      stack:
        octave: 1
        fifth: -1
        third: 1
      semitones: 69.0
    reference: {}
    bindings:
      sostenuto-pedal-down: !increment-neighbourhood-index 1
      sostenuto-pedal-up: !increment-neighbourhood-index -1
      soft-pedal-down: set-reference-to-lowest
      Escape: reset
      Enter: !increment-neighbourhood-index 1
      Space: set-reference-to-lowest
- name: matching chords
  description: |-
    This strategy allows you to
    • define and switch between neighbourhoods like the "static" strategy,
    • define a list of chords and voicings that have a known tuning, and
    • reset the reference note on the fly, either manually or automatically to the reference note of the currently sounding chord.
  config: !two-step
    harmony: !chord-list
      enable: true
      patterns:
      - name: major
        key-shape: !classes-relative
          classes:
          - 0
          - 4
          - 7
        neighbourhood: !periodic-partial
          0: {}
          4:
            third: 1
          7:
            fifth: 1
        allow-extra-high-notes: true
        original-reference: {}
      - name: minor
        key-shape: !classes-relative
          classes:
          - 0
          - 3
          - 7
        neighbourhood: !periodic-partial
          0: {}
          3:
            fifth: 1
            third: -1
          7:
            fifth: 1
        allow-extra-high-notes: true
        original-reference: {}
      - name: dominant seventh
        key-shape: !classes-relative
          classes:
          - 0
          - 4
          - 7
          - 10
        neighbourhood: !periodic-partial
          0: {}
          4:
            third: 1
          7:
            fifth: 1
          10:
            octave: 2
            fifth: -2
        allow-extra-high-notes: true
        original-reference: {}
      - name: major add6
        key-shape: !block-voicing-relative
          blocks:
          - - 0
          - - 4
            - 7
            - 9
        neighbourhood: !periodic-partial
          0: {}
          4:
            third: 1
          7:
            fifth: 1
          9:
            octave: 1
            fifth: -1
            third: 1
        allow-extra-high-notes: true
        original-reference: {}
      - name: minor seventh
        key-shape: !block-voicing-relative
          blocks:
          - - 0
          - - 3
            - 7
            - 10
        neighbourhood: !periodic-partial
          0: {}
          3:
            fifth: 1
            third: -1
          7:
            fifth: 1
          10:
            fifth: 2
            third: -1
        allow-extra-high-notes: true
        original-reference: {}
      - name: 'sus4 '
        key-shape: !block-voicing-relative
          blocks:
          - - 0
            - 7
          - - 5
        neighbourhood: !periodic-partial
          0: {}
          5:
            octave: 1
            fifth: -1
          7:
            fifth: 1
        allow-extra-high-notes: true
        original-reference: {}
      - name: sus2
        key-shape: !block-voicing-relative
          blocks:
          - - 0
            - 7
          - - 2
        neighbourhood: !periodic-partial
          0: {}
          2:
            octave: -1
            fifth: 2
          7:
            fifth: 1
        allow-extra-high-notes: true
        original-reference: {}
    melody: !neighbourhoods
      fixed: true
      group-ms: 100
      neighbourhoods:
      - name: pure
        entries: !periodic-complete
          0: {}
          1:
            octave: 1
            fifth: -1
            third: -1
          2:
            octave: -1
            fifth: 2
          3:
            fifth: 1
            third: -1
          4:
            third: 1
          5:
            octave: 1
            fifth: -1
          6:
            octave: -1
            fifth: 2
            third: 1
          7:
            fifth: 1
          8:
            octave: 1
            third: -1
          9:
            octave: 1
            fifth: -1
            third: 1
          10:
            octave: 2
            fifth: -2
          11:
            fifth: 1
            third: 1
      - name: equal
        entries: !periodic-complete
          0: {}
          1:
            target:
              octave: 1
              fifth: -1
              third: -1
            actual:
              octave: '1/12'
          2:
            target:
              octave: -1
              fifth: 2
            actual:
              octave: '1/6'
          3:
            target:
              fifth: 1
              third: -1
            actual:
              octave: '1/4'
          4:
            target:
              third: 1
            actual:
              octave: '1/3'
          5:
            target:
              octave: 1
              fifth: -1
            actual:
              octave: '5/12'
          6:
            target:
              octave: -1
              fifth: 2
              third: 1
            actual:
              octave: '1/2'
          7:
            target:
              fifth: 1
            actual:
              octave: '7/12'
          8:
            target:
              octave: 1
              third: -1
            actual:
              octave: '2/3'
          9:
            target:
              octave: 1
              fifth: -1
              third: 1
            actual:
              octave: '3/4'
          10:
            target:
              octave: 2
              fifth: -2
            actual:
              octave: '5/6'
          11:
            target:
              fifth: 1
              third: 1
            actual:
              octave: '11/12'
      tuning-reference:
        stack:
          octave: 1
          fifth: -1
          third: 1
        semitones: 69.0
      reference: {}
    bindings:
      sostenuto-pedal-down: !increment-neighbourhood-index 1
      soft-pedal-down: set-reference-to-current
      Escape: reset
      Tab: toggle-reanchor
      Backspace: toggle-chord-matching
      Enter: !increment-neighbourhood-index 1
      Space: set-reference-to-current
backend: !pitchbend12
  bend-range: 2.0
  channels:
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
  - 7
  - 8
  - 9
  - 11
  - 12
  - 13
gui:
  lattice-window:
    zoom: 10.909091
    interval-heights:
    - 0.0
    - 3.8631372
    - -7.01955
    background-around-reference: false
    background-low:
    - 0
    - -4
    - -3
    background-high:
    - 0
    - 4
    - 3
    project-dimension: 0
    screen-keyboard-channel: 1
    screen-keyboard-velocity: 64
    notenamestyle: class
    highlight-playable-keys: true
    color-period-ct: 21.506289596715078
  tuning-editor:
    notenamestyle: full
  reference-editor:
    notenamestyle: full
  latency-mean-over: 20
  use-cent-values: true
