name: "build"

on:
  push:
    branches: [ "main" ]
    tags: 
      - "*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v20
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - run: nix build -L
      - uses: actions/upload-artifact@v4
        with:
          name: adaptuner-${{ matrix.os }}
          path: result/bin/adaptuner
  release:
    if: startsWith(github.event.ref, 'refs/tags/v')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
      - run: zip -r adaptuner-ubuntu-latest adaptuner-ubuntu-latest
      - run: zip -r adaptuner-macos-latest adaptuner-macos-latest
      - uses: softprops/action-gh-release@v2
        with:
          draft: false
          files: |
            adaptuner-ubuntu-latest.zip
            adaptuner-macos-latest.zip
